{% extends "layout.html" %}

{% block title %}
    Appoinments
{% endblock %}

{% block main %}
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">	
<h2 class="head-sub">Appointments</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
            <th>Date/Time</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>APT Size</th>
            <th>Buget</th>
            <th>Move Date</th>
            <th>WEST/EAST</th>
            <th>UP/DOWN</th>
            <th>Pets</th>
            <th>Grantor</th>
            <th>Occupation</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{appointment["appt_date"]}}</td>
                <td>{{appointment["clientname"]}}</td>
                <td>{{appointment["email"]}}</td>
                <td>{{appointment["mobile"]}}</td>
                <td>{{appointment["aptsize"]}}</td>
                <td>{{appointment["budget"]}}</td>
                <td>{{appointment["move_date"]}}</td>
                <td>{{appointment["w_or_e"]}}</td>
                <td>{{appointment["up_down_town"]}}</td>
                <td>{{appointment["pets"]}}</td>
                <td>{{appointment["grantor"]}}</td>
                <td>{{appointment["note"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   </div>
 </div>   
{% endblock %}